.contact{
    position: relative;
    padding: 120px 0 160px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0; right: 0;
        bottom: -2px;
        height: 100%;
        background-image: url(../public/Footer_pseudo-background.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .contact_form,
        .contact_information{
            width: calc(50% - 20px);
        }
        .contact_form{
            padding: 67px 60px 85px;
            background: #ADDAFB;
            border-radius: 42px;
            .section_title{
                font-size: 36px;
                font-weight: 400;
                line-height: 52px;
                color: #1E1E23;
                margin-bottom: 24px;
            }
            .contact_form_text{
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                color: #1E1E23;
                margin-bottom: 70px;
            }
            form{
                .form_item{
                    position: relative;
                    margin-bottom: 40px;
                    input{
                        width: 100%;
                        height: 46px;
                        background-color: transparent;
                        border: 0px solid transparent;
                        border-bottom: 1px solid #1E1E23;
                        outline: none;
                        &:active ~ label,
                        &:focus ~ label,
                        &:valid ~ label{
                            top: -15px;
                        }
                        // &:invalid{
                        //     border-bottom: 1px solid #e43636;
                        // }
                    }
                    label{
                        position:absolute;
                        top: 0px;
                        left: 0px;
                        background:transparent;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 22px;
                        color: #1E1E23;
                        transition: all ease-in-out .3s;
                    }
                    &.form_item_visited{
                        input:invalid{
                            border-bottom: 1px solid #e43636;
                        }
                        label{
                            top: -15px;
                        }
                    }
                }
                .btn{
                    padding: 16.5px 0 18.5px;
                    margin-top: 2px;
                }
            }
        }
        .contact_information{
            padding: 67px 0px 85px;
            .section_title{
                font-size: 36px;
                font-weight: 400;
                line-height: 49px;
                color: #1E1E23;
                margin-bottom: 24px;
            }
            .contact_information_text{
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                color: #1E1E23;
                margin-bottom: 24px;
            }
            .contact_information_phone{
                display: block;
                font-size: 36px;
                font-weight: 400;
                line-height: 49px;
                color: #1E1E23;
                text-decoration: none;
                margin-bottom: 12px;
            }
            .contact_information_email{
                display: block;
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
                color: #1E1E23;
                text-decoration: none;
                margin-bottom: 12px;
            }
            .contact_socials_icon{
                display: flex;
                gap: 19px;
            }
        }
    }
}

@media screen and (max-width:768px){
    .contact{
        .container{
            flex-wrap: wrap-reverse;
            .contact_form{
                .section_title{
                    font-size: 28px;
                    line-height: 42px;
                }
                .contact_form_text{
                    font-size: 14px;
                    line-height: 19px;
                }
                form{
                    .form_item{
                        label{
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .contact_information{
                padding: 67px 0px 85px;
                .section_title{
                    font-size: 32px;
                    line-height: 40px; 
                    font-size: 24px;
                    line-height: 33px;
                }
                .contact_information_text{
                    font-size: 14px;
                    line-height: 19px;
                }
                .contact_socials_icon{
                    gap: 16px;
                }
            }
        }
    }
}
@media screen and (max-width:767px){
    .contact{
        .container{
            flex-wrap: wrap-reverse;
            gap: 40px;
            padding: 0 10px;
            .contact_form,
            .contact_information{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:650px){
    .contact{
        padding: 10px 0 100px;
        .container{
            flex-wrap: wrap-reverse;
            gap: 32px;
            padding: 0 10px;
            .contact_form,
            .contact_information{
                width: 100%;
            }
            .contact_form{
                padding: 30px 32px;
                border-radius: 24px;
                .section_title{
                    font-size: 24px;
                    line-height: 33px;
                    margin-bottom: 12px;
                }
                .contact_form_text{
                    letter-spacing: -0.02em;
                    margin-bottom: 40px;
                }
                form{
                    .form_item{
                        margin-bottom: 15px;
                        input{
                            height: 38px;
                        }
                        label{
                            top: 5px;
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                    .btn{
                        padding: 11.5px 0 13.5px;
                        margin-top: 22px;
                    }
                }
            }
            .contact_information{
                padding: 40px 0 0px;
                .section_title{
                    font-size: 32px;
                    line-height: 40px; 
                    font-size: 24px;
                    line-height: 33px;
                    margin-bottom: 6px;
                }
                .contact_information_text{
                    font-size: 14px;
                    line-height: 19px;
                    margin-bottom: 12px;
                }
                .contact_socials_icon{
                    gap: 16px;
                    a img{
                        width: auto;
                        height: 35px;
                    }
                }
            }
        }
    }
}