.header{
    padding-top: 59px;
    position: fixed;
    width: 100vw;
    z-index: 1;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logotype{}
        .menu{
            nav{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 79px;
                    li{
                        list-style: none;
                        padding: 0;
                        .menu_link{
                            // font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            color: #fff;
                            line-height: 22px;
                            text-decoration: none;
                        }
                        .btn{
                            width: 260px;
                        }
                    }
                }
            }
            .mob_menu_btn{
                display: none;
                flex-direction: column;
                gap: 4px;
                width: 32px;
                height: 32px;
                border: 0.761905px solid #FFFFFF;
                border-radius: 4.57143px;
                padding: 8px;
                span{
                    display: block;
                    width: 15px;
                    height: 2px;
                    background-color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header{
        .container{
            .menu{
                nav{

                }
                .mob_menu_btn{
                    display: flex;
                }
            }
        }
    }
  }