.quality{
    .container{
        display: flex;
        flex-direction: column;
        background-color: #0196EB;
        gap: 24px;
        background-image: url(../public/quality-background.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 42px;
        padding: 98px 60px 186px;
        overflow: hidden;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: -1px; right: -1px;
            bottom: 53px;
            height: 100%;
            background-image: url(../public/quality_pseudo-background.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
          }
        .section_title{
            font-size: 36px;
            font-weight: 400;
            line-height: 49px;
            color: #FFFFFF;
        }
        .quality_text{
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: #FFFFFF;
        }
    }
}

@media screen and (max-width:1280px){
    .quality{
        padding: 5px 40px 0; 
    }
}
@media screen and (max-width:1024px){
    .quality{
        .container{
            padding: 50px 60px 186px;
        }
    }
}
@media screen and (max-width:768px){
    .quality{
        padding: 5px 20px 0;
        .container{
            padding: 50px 60px 186px;
            .section_title{
                font-size: 32px;
                line-height: 40px;
            }
            .quality_text{
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}
@media screen and (max-width:650px){
    .quality{
        padding: 5px 10px 0;
        .container{
            padding: 46px 30px 140px;
            border-radius: 24px;
            gap: 12px;
            .section_title{
                font-size: 18px;
                line-height: 25px;
            }
            .quality_text{
                font-size: 14px;
                line-height: 20px;
                span{
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }
}